
:root{
  --Cream_White: rgb(250,250,250);
}

.Polarized_Square{
  position: absolute;
  --Scalar: 1;
  --Height: calc(var(--Scalar)*20rem);
  --Width: calc(var(--Scalar)*16.5rem);
  height: var(--Height);
  width: var(--Width);
  border-radius: calc(var(--Width)/80);
  background-color: var(--Cream_White);
  top: calc(50vh - var(--Height)/2);
  left: calc(50vw - var(--Width)/2);
  box-shadow: 0rem calc(var(--Height)/80) calc(var(--Height)/200) 0rem rgba(0,0,0,0.2);
}

.Picture_Square{
  position: absolute;
  --Scalar: 1;
  --Height: 100%;
  --Width: 100%;
  height: var(--Height);
  width: var(--Width);
  box-sizing: border-box;
  border: 0 solid rgba(0,0,0,0);
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
  object-fit: cover;
  /* border-radius: calc(var(--Width)/80); */
}

.Backdrop_Blur{
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

.Drop_Zone{
  position: absolute;
  --Scalar: 1;
  --Margin: calc(var(--Scalar)*7%);
  --Height: calc(75%);
  --Width: calc(100% - 2*var(--Margin));
  height: var(--Height);
  width: var(--Width);
  box-sizing: border-box;
  border: 0.2rem solid gray;
  border-radius: calc(var(--Width)/80);
  left: calc(50% - var(--Width)/2);
  margin-top: var(--Margin);
  background-color: rgba(0,0,0,0);
  background-color: blue;
}

.Modify_Handles{
  display: none;
  position: absolute;
  --Diameter: 2rem;
  height: var(--Diameter);
  width: var(--Diameter);
  border-radius: calc(var(--Diameter)/2);
  background-color: rgba(0,0,0,0.5);
  border: 0.1rem solid white;
  box-sizing: border-box;
  z-index: 51;  
  color: white;
}

.Move_Handle{
  top: calc(0% - var(--Diameter)/2);
  left: calc(0% - var(--Diameter)/2);
}

.Move_Handle:hover{
  cursor: move;
}

.Rotate_Handle{
   top: calc(0% - var(--Diameter)/2);
   left: calc(100% - var(--Diameter)/2);
}

.Size_Handle{
   top: calc(100% - var(--Diameter)/2);
   left: calc(100% - var(--Diameter)/2);
}

.Size_Handle:hover{
  cursor: nwse-resize;
}

.Trash_Handle{
  top: calc(0% - var(--Diameter)/2);
  left: calc(100% - var(--Diameter)/2);
}

.Trash_Handle:hover{
  cursor: pointer;
}

.Add_Picture_Prompt{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  --Scalar: 1;
  --Margin: calc(var(--Scalar)*7%);
  --Height: calc(71%);
  --Width: calc(100% - 2*var(--Margin));
  height: var(--Height);
  width: var(--Width);
  box-sizing: border-box;
  /* border: 0.2rem solid gray; */
  /* border-radius: calc(var(--Width)/80); */
  left: calc(50% - var(--Width)/2);
  margin-top: var(--Margin);
  background-color: var(--Gray_Tone_Text);
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  font-size: 0.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: gray;
  
}

.Add_Picture_Prompt:hover{
  cursor: default;
}

.Toggle_Controls{
  display: block;
}

.Move_SVG_Properties,.Resize_SVG_Properties{
  position: absolute;
  --Size: 80%;
   width: var(--Size); 
   height: var(--Size);
   top: calc(50% - var(--Size)/2);
   left: calc(50% - var(--Size)/2);
   fill: white;
}

.Trash_SVG_Properties{
  position: absolute;
  --Size: 60%;
   width: var(--Size); 
   height: var(--Size);
   top: calc(50% - var(--Size)/2);
   left: calc(50% - var(--Size)/2);
   fill: white;
}

.File_Select_Button{
  /* color: transparent; */
  /* display: none; */
}

.Select_Button{
  position: absolute;
  --Height: 10%;
  --Width: 40%;
  top: calc(90% - var(--Height)/2);
  left: calc(50% - var(--Width)/2);
  height: var(--Height);
  width: var(--Width);
  font-size: 0.75rem;
  border-radius: 0.5rem; 
  border: none;
  color: white;
  background-color: rgba(210,210,210);
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.Select_Button:hover{
  cursor: pointer;
}






