
:root{
  --Colour_Panel_Animation_Direction: forwards;
  --Add_Panel_Animation_Direction: forwards;
}


.Canvas_Colour_Panel,.Add_Panel{
  position: fixed;
  left: 1rem;
  --Diameter: 4.5rem;
  height: var(--Diameter);
  width: var(--Diameter);
  border-radius: calc(var(--Diameter)/2);
  border: none;
  background-color: white;
  box-shadow: 0 0.1rem 0.2rem 0.025rem rgba(0,0,0,0.1);
  transition: 1s;
}

.Canvas_Colour_Panel{
  top: 3.5rem;
}

.Add_Panel{
  --Diameter: 4.5rem;
  float: right;
  left: calc(100% - 1.5rem);
  bottom: 1rem;
  transform: rotateZ(-90deg);
  transform-origin: bottom left;
  direction: rtl;
}

.Toggle_Buttons{
  position: absolute;
  --Border_Thickness: 0.5rem;
  --Large_Diameter: 4.5rem;
  --Small_Diameter: 4.5rem;
  height: var(--Small_Diameter);
  width: var(--Small_Diameter);
  border: var(--Border_Thickness) solid white;
  border-radius: calc(var(--Small_Diameter)/2);
  background-color: cyan;
}

#Canvas_Colour_Button{
  --Border_Thickness: 0.5rem;
  --Large_Diameter: 4.5rem;
  --Small_Diameter: 4.5rem;
  top: calc(var(--Large_Diameter)/2 - var(--Small_Diameter)/2);
  left: calc(var(--Large_Diameter)/2 - var(--Small_Diameter)/2);
}

#Add_Button{
  --Border_Thickness: 0.5rem;
  --Large_Diameter: 4.5rem;
  --Small_Diameter: 4.5rem;
  top: calc(100% - var(--Large_Diameter)/2 - var(--Small_Diameter)/2);
  left: 0;
}

.Expand_Animation_1{
  animation: Expand_Keyframes_1 0.2s ease var(--Colour_Panel_Animation_Direction);
}

.Expand_Animation_2{
  animation: Expand_Keyframes_2 0.2s ease var(--Add_Panel_Animation_Direction);
}

@keyframes Expand_Keyframes_1 {
  to{
    height: 20rem;
    width: 20rem;
  }
}

@keyframes Expand_Keyframes_2 {
  to{
    /* height: 20rem; */
    width: 20rem;
  }
}






